@import "./../../styles/variables.scss";

.columnContainer {
  color: $brandMain;
  flex: 1;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  font-family: $primaryFont;
  font-size: 1.7em;
  letter-spacing: 3px;
  padding: 30px;
  overflow: hidden;

  img {
    object-fit: cover;
  }
}
