@import "./../../styles/variables.scss";

.column {
  display: flex;
  min-width: 30%;
  min-height: 100%;
  box-sizing: border-box;
  justify-content: center;
  color: #ffffff;
}

.heroDescription {
  margin-top: 50px;
  width: 15vw;
  height: 15vw;
  padding: 20px;
  background: linear-gradient(
    218deg,
    rgba(215, 63, 81, 1) 0%,
    rgba(232, 105, 135, 1) 12%,
    rgba(114, 65, 136, 1) 24%,
    rgba(90, 93, 183, 1) 39%,
    rgba(114, 190, 195, 1) 52%,
    rgba(145, 202, 112, 1) 68%,
    rgba(244, 172, 33, 1) 84%,
    rgba(230, 121, 46, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $primaryFont;
  font-size: 2em;
}

.heroInner {
  padding: 20px;
  width: 15vw;
  height: 15vw;
  background: #1d1d1d;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
