// colors
$brandMain: #1c034c;
$greyjoy: #e6e6e6;
$tiffany: #4ac3b0;

// font

// loading from Adobe Fonts - Fibury Project
@import url("https://use.typekit.net/kfs5dod.css");
// loading from Google Fonts
@import url("https://fonts.googleapis.com/css?family=Aleo&display=swap");

$primaryFont: bebas-neue-by-fontfabric, sans-serif;
$secondaryFont: "Aleo", serif;
$dosis: "Dosis", sans-serif;

// other
$navheight: 70px;
